name: Publish Docs
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        
      - name: Set up Python
        run: uv python install 3.13
        
      - name: Install dependencies
        run: uv sync --group dev
        
      - name: Configure Git Credentials
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        
      - name: Build Site
        run: |
          uv run mkdocs build
          touch site/.nojekyll
          
      - name: Deploy to GitHub Pages
        run: uv run mkdocs gh-deploy --force
